{% extends '../base.html' %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>
					{% for board in boardlist %}
					<tr>
						<td>{{ boardlist | length | sub:forloop.counter | add:1 }}</td>
						<td style="text-align:left padding-left:{{ 20 | mul:board.depth }}px;">
							<a href="/board/view?no={{board.no}}">{% if board.o_no > 1 %}<img src='/assets/images/reply.png'>{% endif %}{{ board.title }}</a>
						</td>
						<td>{{ board.name }}</td>
						<td>{{ board.hit }}</td>
						<td>{{ board.reg_date }}</td>
						<td><a href="/board/delete?no={{board.no}}" class="del">삭제</a></td>
					</tr>
					{% endfor %}
				</table>
				<!-- pager 추가 -->
				<div class="pager">
					<ul>
						<li><a href="">◀</a></li>
						<li class="{% if page == firstpage %} selected {% endif %}">
							{% if firstpage > totalpage  %}{{ firstpage }}
							{% elif page != firstpage %}<a href="/board?page={{ firstpage }}">{{ firstpage }}</a>
							{% endif %}
						</li>
						<li class="{% if page == (firstpage | add:1) %} selected {% endif %}">
							{% if (firstpage | add:1) > totalpage  %}{{ firstpage | add:1 }}
							{% if page != (firstpage | add:1) %}<a href="/board?page={{ firstpage | add:1 }}">{{ firstpage | add:1 }}</a>
							{% endif %}
						</li>
						<li class="{% if page == (firstpage | add:2) %} selected {% endif %}">
							{% if (firstpage | add:2) > totalpage  %}{{ firstpage | add:2 }}
							{% if page != (firstpage | add:2) %}<a href="/board?page={{ firstpage | add:2 }}">{{ firstpage | add:2 }}</a>
							{% endif %}
						</li>
						<li class="{% if page == (firstpage | add:3) %} selected {% endif %}">
							{% if (firstpage | add:3) > totalpage  %}{{ firstpage | add:3 }}
							{% if page != (firstpage | add:3) %}<a href="/board?page={{ firstpage | add:3 }}">{{ firstpage | add:3 }}</a>
							{% endif %}
						</li>
						<li class="{% if page == (firstpage | add:4) %} selected {% endif %}">
							{% if (firstpage | add:4) > totalpage  %}{{ firstpage | add:4 }}
							{% if page != (firstpage | add:4) %}<a href="/board?page={{ firstpage | add:4 }}">{{ firstpage | add:4 }}</a>
							{% endif %}
						</li>
						<li><a href="">▶</a></li>
					</ul>
				</div>					
				<!-- pager 추가 -->
				{% if reqeust.GET.delete == 'fail' %}
				<div>
					<h2>작성자만 삭제할 수 있습니다.</h2>
				</div>
				{% endif %}
				<div class="bottom">
					<a href="/board/writeform" id="new-book">글쓰기</a>

				</div>

			</div>
{% endblock %}